@charset "UTF-8";
@font-face {
  font-family: "Roboto";
  src: url("sorce/fonts/roboto-medium.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica-regular";
  src: url("sorce/fonts/helvetica_regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Helvetica-bold";
  src: url("sorce/fonts/helvetica_regular.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.wrapper {
  width: 95%;
  margin: 0 auto;
}
@media (min-width: 1024px) {
  .wrapper {
    max-width: 1376px;
  }
}

.page-header {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: normal;
  color: #212529;
  padding-top: 10px;
  padding-bottom: 10px;
  overflow: hidden;
}
@media screen and (min-width: 1024px) {
  .page-header {
    padding-bottom: 20px;
  }
}

.page-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 1024px) {
  .page-header__wrapper {
    align-items: start;
  }
}

.page-header__logo {
  display: block;
  min-width: 39px;
  min-height: 42px;
  cursor: pointer;
}
@media screen and (min-width: 1024px) {
  .page-header__logo {
    width: 70px;
    height: 75px;
  }
}

.page-header__logo-image {
  display: block;
  width: 100%;
  height: auto;
}

.main-nav__toggle {
  position: relative;
  display: block;
  padding: 0;
  border: none;
  cursor: pointer;
  width: 24px;
  height: 12px;
  background-color: transparent;
}
@media screen and (min-width: 1024px) {
  .main-nav__toggle {
    display: none;
  }
}
.main-nav__toggle .burger-line {
  content: "";
  position: absolute;
  bottom: 45%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #212529;
  transition: opacity 0.1s ease-in-out;
}
.main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #212529;
  transition: transform 0.2s ease-in-out;
}
.main-nav__toggle::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 70%;
  height: 1px;
  background-color: #212529;
  transition: transform 0.2s ease-in-out;
}

.burger--active .burger-line {
  opacity: 0;
}
.burger--active::before {
  width: 100%;
  top: 50%;
  transform: rotate(45deg);
}
.burger--active::after {
  width: 100%;
  top: 50%;
  transform: rotate(-45deg);
}

.stop-scroll {
  overflow-y: hidden;
  height: 100vh;
}

.main-nav__list-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: start;
  gap: 50px;
  font-size: 24px;
  position: fixed;
  width: 70vw;
  height: 100vh;
  top: 56px;
  right: 0;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  background-color: #ffffff;
  z-index: 2;
  padding-top: 50px;
  padding-bottom: 20px;
  padding-left: 10px;
}
@media (min-width: 768px) {
  .main-nav__list-wrapper {
    width: 35vw;
  }
}
@media screen and (min-width: 1024px) {
  .main-nav__list-wrapper {
    font-size: 18px;
    position: static;
    transform: none;
    display: flex;
    flex-direction: row;
    gap: 210px;
    padding-top: 0;
    text-align: start;
    align-items: start;
    border: none;
    box-shadow: none;
    width: 450px;
    height: -moz-min-content;
    height: min-content;
    padding: 0;
  }
}

.nav--active .main-nav__list-wrapper {
  transform: none;
  box-shadow: -10px 7px 10px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 1023px) {
  .stop-scroll .overlay {
    position: fixed;
    background-color: #000;
    width: 100%;
    height: 100%;
    top: 56px;
    left: 0;
    opacity: 0.4;
  }
}
.main-nav__list {
  margin: 0;
  padding: 0;
}

.main-nav__item {
  list-style-type: none;
}
.main-nav__item:not(:last-child) {
  margin-bottom: 25px;
}
@media screen and (min-width: 1024px) {
  .main-nav__item:not(:last-child) {
    margin-bottom: 6px;
  }
}

.main-nav__link,
.main-nav__phone-number {
  position: relative;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  transition: color 0.1s ease-in-out;
}
.main-nav__link:hover,
.main-nav__phone-number:hover {
  color: #212529;
}
.main-nav__link:active,
.main-nav__phone-number:active {
  color: #CBC6B2;
}

@media screen and (min-width: 1024px) {
  .main-nav__link::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 0;
    height: 1px;
    background-color: #212529;
    opacity: 0;
    transition: all 0.3s ease-in-out;
  }
  .main-nav__link:hover::after {
    opacity: 1;
    width: 100%;
  }
}

.main-nav__phone-number {
  transition: color 0.3s ease-in-out;
}
@media screen and (min-width: 1024px) {
  .main-nav__phone-number {
    align-self: start;
  }
  .main-nav__phone-number:hover {
    color: #DDD7C0;
  }
}

.intro {
  padding-top: 10px;
  padding-bottom: 25px;
}
.intro__title {
  margin: 0;
  margin-bottom: 20px;
  font-family: "Helvetica-regular", sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 120%;
  text-transform: uppercase;
  color: #212529;
}
.intro__text {
  margin: 0;
  margin-bottom: 25px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #212529;
}
.intro__link {
  position: relative;
  display: inline-block;
  margin: 0;
  margin-bottom: 25px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #212529;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}
.intro__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 1px;
  background-color: #212529;
  transition: transform 0.3s ease-in-out;
}
.intro__img-main img {
  display: block;
  width: 100%;
  height: 261px;
  -o-object-fit: cover;
     object-fit: cover;
}
.intro__img-second {
  display: none;
}

@media (min-width: 1024px) {
  .intro {
    padding-top: 20px;
    padding-bottom: 30px;
  }
  .intro-wrapper {
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    row-gap: 40px;
  }
  .intro__title {
    margin: 0;
    font-size: 72px;
    line-height: 120%;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    grid-column: 10 span/auto;
  }
  .intro__text {
    margin: 0;
    min-height: 275px;
    font-size: 20px;
    line-height: 140%;
    grid-column: 6 span/auto;
    grid-row: 2/3;
  }
  .intro__link {
    align-self: self-end;
    margin: 0;
    font-size: 18px;
    grid-column: -1/-5;
    justify-self: end;
  }
  .intro__link:hover {
    color: #DDD7C0;
  }
  .intro__link:hover::after {
    transform: scaleX(0);
    background-color: #DDD7C0;
  }
  .intro__link:active {
    color: #CBC6B2;
  }
  .intro__img-main img {
    width: 100%;
    height: 100%;
  }
  .intro__img-main {
    grid-column-start: 10;
    grid-column-end: 19;
    grid-row: 2/4;
  }
  .intro__img-second {
    display: block;
    height: 100%;
    grid-column: 5 span/auto;
    grid-row: 3/4;
  }
}
.about {
  padding-top: 25px;
  padding-bottom: 30px;
  color: #212529;
}
.about__title {
  margin: 0;
  margin-bottom: 20px;
  font-family: "Helvetica-regular", sans-serif;
  font-size: 28px;
  font-weight: 400;
}
.about__slogan {
  display: none;
}
.about__text {
  width: 100%;
  margin: 0;
  margin-bottom: 16px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
}
.about__text-materails {
  margin-bottom: 40px;
}
.about__list {
  margin: 0;
  padding: 0;
}
.about__list-item {
  list-style-type: none;
}
.about__list-item:not(:last-child) {
  margin-bottom: 20px;
}

.list-item__title {
  font-family: "Helvetica-regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

.list-item__text {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  margin: 0;
}

@media (min-width: 1024px) {
  .about {
    padding-top: 25px;
    padding-bottom: 70px;
  }
  .about-wrapper {
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    row-gap: 10px;
  }
  .about__title {
    display: none;
  }
  .about__slogan {
    display: inline-block;
    width: 100%;
    grid-column: 8 span/auto;
    grid-row: 1/3;
    font-family: "Helvetica-regular", sans-serif;
    font-size: 48px;
    font-weight: 400;
    line-height: normal;
  }
  .about__text {
    width: 100%;
    margin: 0;
    grid-column: 10/16;
    align-self: end;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
  }
  .about__text-about {
    grid-row: 1/2;
  }
  .about__text-purpose {
    grid-row: 2/3;
  }
  .about__text-materails {
    grid-row: 3/4;
  }
  .about__list {
    grid-column: 10/16;
    grid-row: 5/6;
  }
  .about__list-item:not(:last-child) {
    margin-bottom: 24px;
  }
  .list-item__title {
    font-size: 36px;
  }
}
.steps {
  padding-top: 30px;
  padding-bottom: 25px;
  color: #212529;
}
.steps__title {
  margin: 0;
  margin-bottom: 27px;
  font-family: "Helvetica-regular", sans-serif;
  font-size: 28px;
  font-weight: 400;
}
.steps__text {
  margin: 0;
  margin-bottom: 28px;
  display: block;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
}

.steps-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 100%;
}
.steps-list__item {
  border-bottom: #212529 1px solid;
}
.steps-list__item:not(:last-child) {
  margin-bottom: 20px;
}
.steps-list__title {
  margin: 0;
  margin-bottom: 15px;
  font-family: "Helvetica-regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: normal;
}
.steps-list__text {
  margin: 0;
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  color: #212529;
}

@media (min-width: 1024px) {
  .steps {
    padding-top: 70px;
    padding-bottom: 30px;
  }
  .steps-wrapper {
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    row-gap: 45px;
  }
  .steps__title {
    margin: 0;
    font-size: 48px;
    grid-column: 8 span/auto;
    grid-row: 1/2;
  }
  .steps__text {
    margin: 0;
    margin-top: 22px;
    grid-column: 10/15;
    grid-row: 1/2;
    align-self: end;
  }
  .steps-list {
    grid-column: 10/19;
    grid-row: 2/3;
  }
  .steps-list__item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-bottom: #212529 1px solid;
  }
  .steps-list__item:not(:last-child) {
    margin-bottom: 24px;
  }
  .steps-list__title {
    margin: 0;
    font-size: 36px;
    max-width: 328px;
  }
  .steps-list__title--br {
    max-width: 260px;
  }
  .steps-list__text {
    margin: 0;
    margin-top: 10px;
    margin-bottom: 24px;
  }
}
.projects {
  padding-top: 25px;
  padding-bottom: 25px;
  overflow-x: auto;
}
.projects__title {
  margin: 0;
  margin-bottom: 20px;
  font-family: "Helvetica-regular", sans-serif;
  font-size: 28px;
  font-weight: 400;
  color: #212529;
}
.projects__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  scroll-padding: 10px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -ms-overflow-style: none; /* IE и Edge */
  scrollbar-width: none; /* Firefox */
}
.projects__list::-webkit-scrollbar {
  display: none; /* Chrome, Safari и Opera */
}
.projects__item {
  width: 252px;
  height: 328px;
  scroll-snap-align: center;
  vertical-align: baseline;
}
.projects__item:not(:last-child) {
  margin-right: 20px;
}

@media (min-width: 1024px) {
  .projects {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .projects__title {
    font-size: 48px;
  }
  .projects__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(21.5rem, 1fr));
    gap: 20px;
    justify-content: stretch;
  }
  .projects__item {
    margin: 0;
    width: auto;
    height: 100%;
    scroll-snap-align: center;
    vertical-align: baseline;
  }
  .projects__item:not(:last-child) {
    margin-right: 0;
  }
}
.card {
  position: relative;
  width: 252px;
  height: 328px;
}
.card__img {
  width: 252px;
  height: 328px;
  overflow: hidden;
}
.card__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.card__desc {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 11px 12px;
  background: rgba(33, 37, 41, 0.5);
}
.card__text {
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: #FFF;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
}

@media (min-width: 1024px) {
  .card {
    width: auto;
    height: 100%;
  }
  .card__desc {
    padding: 20px 22px;
  }
  .card__img {
    width: 100%;
    height: 100%;
  }
  .card__img img {
    transition: all 0.6s ease-in-out;
  }
}
@media (min-width: 1280px) {
  .card__desc {
    opacity: 0;
    transition: all 0.3s ease-in-out;
  }
  .card:hover .card__desc {
    opacity: 1;
  }
  .card:hover img {
    transform: scale(1.2);
  }
}
.reviews {
  padding-top: 25px;
  padding-bottom: 25px;
}
.reviews__title {
  margin: 0;
  margin-bottom: 20px;
  box-sizing: border-box;
  font-family: "Helvetica-regular", sans-serif;
  color: #212529;
  font-size: 28px;
  font-weight: 400;
}
.reviews__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
  display: grid;
  gap: 20px;
}

@media (min-width: 1024px) {
  .reviews {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .reviews__title {
    margin-bottom: 45px;
    font-size: 48px;
  }
  .reviews__list {
    grid-template-columns: repeat(3, 1fr);
  }
}
.review-card {
  border: 1px solid #000;
  padding: 32px;
  padding-bottom: 37px;
  min-height: 370px;
  width: 100%;
}
.review-card__icon {
  margin-bottom: 32px;
}
.review-card__title {
  margin: 0;
  margin-bottom: 20px;
  font-family: "Helvetica-regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.review-card__text {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 140%;
}

.order {
  padding-top: 25px;
  padding-bottom: 30px;
}
.order__img {
  display: none;
}

@media (min-width: 1024px) {
  .order {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .order__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5%;
  }
  .order__img {
    display: block;
    width: 562px;
  }
  .order__image {
    width: 100%;
  }
}
.form__title {
  margin: 0;
  margin-bottom: 20px;
  font-family: "Helvetica-regular", sans-serif;
  font-weight: 400;
  font-size: 28px;
  color: #000;
}
.form__text {
  display: block;
  margin: 0;
  margin-bottom: 40px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #000;
}
.form__form {
  margin-bottom: 28px;
}
.form__input {
  position: relative;
}
.form__input:not(:last-child) {
  margin-bottom: 16px;
}
.form__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  gap: 8px;
}

.input {
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 15px;
  outline: none;
  border: none;
  width: 100%;
  height: 100%;
  border-bottom: #000 solid 1px;
  transition: border-bottom 0.3s ease-in-out;
  font-size: 16px;
  color: #212529;
}
.input:focus {
  border-bottom: #DDD7C0 solid 1px;
}

.form__button {
  outline: none;
  border: none;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #fff;
  background-color: #212529;
  padding: 10px 20px;
  transition: all 0.3s ease-in-out;
}
.form__button:hover {
  color: #000;
  background-color: #DDD7C0;
}
.form__button:active {
  color: #212529;
  background-color: #CBC6B2;
}
.form__button:disabled {
  color: rgba(255, 255, 255, 0.5);
  background: rgba(33, 37, 41, 0.5);
}

@media (min-width: 1024px) {
  .form__title {
    font-size: 48px;
    margin-bottom: 32px;
  }
  .form__text {
    margin-bottom: 83px;
  }
  .form__form {
    margin-bottom: 40px;
  }
}
.page-footer {
  padding-top: 30px;
  padding-bottom: 20px;
}

.footer {
  text-align: center;
}
.footer__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.social__list {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.social__item {
  margin: 0;
  margin-bottom: 24px;
}

.social__link {
  margin: 0;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  color: #212529;
  font-size: 18px;
  transition: color 0.3s ease-in-out;
}
.social__link:focus,
.social__link :hover {
  color: #DDD7C0;
}
.social__link:active {
  color: #CBC6B2;
}

.footer__policy {
  margin-bottom: 28px;
}

.policy__item:not(:last-child) {
  margin-bottom: 8px;
}
.policy__link {
  text-decoration: none;
  cursor: pointer;
  color: #212529;
  font-size: 16px;
  line-height: 140%;
}
.policy__link:focus,
.policy__link :hover {
  color: #DDD7C0;
}
.policy__link:focus:active,
.policy__link :hover:active {
  color: #CBC6B2;
}

.info__item {
  font-family: "Roboto", sans-serif;
  color: #212529;
  font-size: 18px;
  line-height: 140%;
  text-transform: uppercase;
}

.footer-link {
  transition: color 0.3s ease-in-out;
}

.footer-link:focus,
.footer-link:hover {
  color: #DDD7C0;
}

.footer-link:active {
  color: #CBC6B2;
}

@media (min-width: 1024px) {
  .footer__wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: end;
  }
  .footer__policy {
    margin: 0;
  }
  .policy__list {
    display: flex;
    gap: 15px;
  }
  .policy__item {
    position: relative;
  }
  .policy__item:not(:last-child) {
    margin-bottom: 0;
  }
  .policy__pay::before {
    content: "";
    position: absolute;
    background-color: #212529;
    width: 1px;
    height: 16px;
    top: 3px;
    left: -7px;
    transform: rotate(25deg);
  }
  .social__item {
    margin: 0;
  }
}/*# sourceMappingURL=style.css.map */